.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid white 3px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 16px;
    padding-right: 13px;
    width: 320px;
    max-height: 528px;
    box-shadow: 0px 0px 1px;
}

.product:hover {
    border: solid rgb(150, 255, 251) 3px;
}

.product-category {
    color: #4169E1;
    font-size: 14px;
}

.product-name {
    font-size: 18px;
}

.product img {
    width: 288px;
    height: 280px;
    object-fit: contain;
    margin: auto;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-label {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.price button {
    color: white;
    background-color: #4169E1;
    border: unset;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    margin-right: 0;
    width: 141px;
    height: 39px;
}

.price button:hover {
    background-color: #284ec2;
}